.pago {
  min-height: 100vh;
}
.pago h2 {
  font-size: 4rem;
  font-family: "Ramaraja", serif;
  text-align: center;
  padding: 15px 0;
}
.contenedorCarrito {
  display: flex;
  width: 100%;
}
/* Encabezado */
.detalle,
.datosCliente {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.datosCliente {
  width: 50%;
}
.titulo-detalle h3,
.datosCliente h3 {
  padding: 10px 0;
  border: #000 1px solid;
  font-size: 2.5rem;
  font-family: "Ramaraja", serif;
}
/* Fin encabezado */

.detalleCompra {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
}
/* Detalle producto */
.conjuntoProd {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: #000 1px solid;
  margin: 2px 0;
  padding: 5px;
}
.info-producto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.title-prod {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}
.title-prod h4 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
img {
  width: 120px;
}
/* Fin detalle producto */

/* Contador */
.cant-producto {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.modifProd {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.contadorCart {
  display: flex;
  flex-direction: row;
  width: 70%;
  padding: 20px 0;
}
.modifCant {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cant-item {
  font-size: 1.3rem;
  margin: 0;
}
.remove-item {
  width: 50px;
  color: red;
  padding: 5px;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  bottom: 70px;
}
.remove-item:hover {
  color: rgb(211, 15, 15);
  padding: 5px;
}
/* Fin contador */

/* Detalle saldo producto */
.precio {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
/* Fin detalle saldo producto */

/* Detalle saldo */
.contendorDetalle {
  width: 100%;
  border: 1px solid #000;
  margin-top: 5px;
}

.encabezadoFinal,
.detalleCart {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  align-items: center;
  border: 1px solid #000;
}

.totalItem,
.totalPrecio,
.cantTotal,
.saldoTotal {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #000;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}
.totalGral {
  font-family: "Syne Mono";
  font-size: 2rem;
}
/* Fin detalle saldo */

/* Btn limpiar cart */
.btnClean {
  margin: 20px 0;
  width: 40%;

  font-size: 1.1rem;
}
/* Fin btn limpiar cart */

/* Carrito Vacio */
.cardVacio {
  width: 50%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 2px 4px 10px 4px gray;
}
.cardVacio img {
  padding: 20px 0;
  width: 170px;
}
.cardVacio button {
  margin: 20px 0;
}
/* Fin carrito Vacio */

@media screen and (max-width: 820px) {
  .pago h2 {
    font-size: 2.5rem;
  }
  .contenedorCarrito {
    flex-direction: column;
  }
  /* Encabezado */
  .datosCliente {
    width: 100%;
  }
  .titulo-detalle h3,
  .datosCliente h3 {
    font-size: 2rem;
  }
  /* Fin encabezado */

  /* Detalle producto */
  .conjuntoProd {
    flex-direction: column;
  }
  .title-prod {
    padding: 0 10px;
  }
  .title-prod h4 {
    font-size: 1.3rem;
  }
  img {
    width: 130px;
    margin-bottom: 10px;
  }
  /* Fin detalle producto */

  /* Contador */
  .contenedorRemoverItem {
    order: -2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .remove-item {
    position: static;
  }
  /* Fin contador */

  /* Detalle saldo */

  .encabezadoFinal,
  .detalleCart {
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
  }
  .totalItem,
  .totalPrecio,
  .cantTotal,
  .saldoTotal {
    font-size: 1.3rem;
  }
  .totalGral {
    font-size: 1.5rem;
  }
  /* Fin detalle saldo */

  /* Btn limpiar cart */
  .btnClean {
    width: 60%;

    font-size: 1.1rem;
  }
  /* Fin btn limpiar cart */

  /* Carrito Vacio */
  .cardVacio {
    width: 90%;
  }
  .cardVacio img {
    width: 130px;
  }
  /* Fin carrito Vacio */
}

/* @media screen and (min-width: 560.5px) and (max-width: 991px) {
  
} */
