.cart-btn {
  position: relative;
  left: 90px;
  padding: 10px;
  cursor: pointer;
}
.nav-icon {
  font-size: 2.4rem;
  display: flex;
  color: orange;
}
.cart-items {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  padding: 0 5px;
  border-radius: 50%;
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
