.titulo {
  text-align: center;
  font-size: 4rem;
  padding: 10px 0;
  text-transform: capitalize;
  font-family: "Passion One", cursive;
  letter-spacing: 1rem;
}
.loadProd {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

@media screen and (max-width: 768px) {
  .titulo {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    padding: 0;
  }
}