.navbarPrincipal {
  background-color: #1a1a40;
}
.navbarTitulo {
  text-decoration: none;
}
.navbarTitulo h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 20px;
  margin: 0;
  color: #fff;
  font-family: 'Passion One', cursive;
}
.bandera {
  color: aqua;
}
.cont {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
}
.navbarCat {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.navbarCat:hover{
  color: #fff;
  background-color: rgba(0, 255, 255, 0.068);
}
.active {
  background-color: rgba(0, 255, 255, 0.205);
}
