.contador-Item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  padding:10px;
  margin-bottom: 10px;
}
.contador {
  width: 100%;
  padding: 3px;
  border: 1px solid #807c7c;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.contador:hover{
  background-color: #c2c0c07a;
  border: 1px solid #000;
  
}
.aumentar,
.disminuir {
  margin: 3px;
  font-size: 1.1rem;
}
.aumentar:hover {
  color: green;
}
.disminuir:hover {
  color: red;
}
.contadorItem {
  font-size: 1.3rem;
  font-weight: bold;
}

@media screen and (max-width:560px){
  .contador-Item {
    width: 90%;
  }
}
@media screen and (min-width: 560.5px) and (max-width: 920px){
  .contador-Item {
    width: 60%;
  }
}