.cardProd {
  width: 90vw;
  margin: 20px auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}
.cardProd a{
  text-decoration: none;
}
.loadProd {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
